@font-face {
	font-family: "Big Noodle Titling";
	src: url("../fonts/big_noodle_titling.ttf");
}

body {
	font-family: "Big Noodle Titling";
	font-size: 22px;
	background-color: #0D0015;
}


div, nav, ul {
	/* Usado para visualizar melhor as divisões (comentado por padrão) */
	/*border: 1px solid white;*/
}

.nav-pills.nav-justified > li > a {
   color: gray;
}

.nav-pills.nav-justified > li > a:hover {
   background-color: gray;
   color: #222;
}

.nav-pills.nav-justified > li.active > a {
	background-color: gray;
	color: #222;
}

#logo img {
	border-radius: 5px;
}

footer > div > em {
	color: gray;
	padding-top: 10px;
 	padding-bottom: 10px;
}

footer > div {
	background-color: #222;
	height: 50px;
  	line-height: 50px;
  	border-radius: 5px;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	margin: auto;
}

.item > img {
	min-height: 190px;
	max-height: 300px;
}

#menu, #logo {
	padding-left: 0;
	padding-right: 0;
}

#logo, .banner, #menu {
	margin-bottom: 10px;
}

.banner {
	background-color: #222;
}

#menu > ul > li {
	border: 1px solid black;
	background-color: #222;
	border-radius: 5px;
}

.tab-content {
	margin-bottom: 10px;
	border-radius: 5px;
}

#novidades {
	border-radius: 5px;
}

.menu-fixo {
	position: fixed;
	top: 0;
	z-index: 99;
	left: 50%;
}